<ion-card *ngIf="task" class="ion-margin">
    <ion-card-header>
        <ion-card-subtitle [style.color]="task.priority === 'high'? 'red' : (task.priority === 'low')?'green':'orange'">
            {{task.category}}
        </ion-card-subtitle>
        <ion-item [routerLink]=" '/task/' + task.id " [detail]="false ">
            <ion-icon [style.color]="task.priority === 'high'? 'red' : (task.priority === 'low')?'green':'orange'" name="ellipse"></ion-icon>
            <ion-label>{{task.title}}</ion-label>
        </ion-item>
        <ion-label *ngIf="task.dueDate">Due {{task.dueDate | date:'fullDate'}}</ion-label>
    </ion-card-header>
    <ion-row>
        <ion-col>
            <ion-icon *ngIf="task.state !=='done'" (click)="done(true)" name="square-outline"></ion-icon>
            <ion-icon *ngIf="task.state ==='done'" (click)="done(false)" name="checkbox-outline"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-icon (click)="updateTask(task)" name="create-outline"></ion-icon>
        </ion-col>

        <ion-col>
            <ion-icon (click)="deleteTask(task.id)" name="trash-outline"></ion-icon>
        </ion-col>
    </ion-row>

</ion-card>