<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-item>
            <ion-label class="title">
                today
                <p class="date">{{ today|date:'fullDate' }}</p>
            </ion-label>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-segment #segment value="noChildren">
        <ion-segment-button value="noChildren">
            <ion-label>Default</ion-label>
        </ion-segment-button>
        <ion-segment-button value="all">
            <ion-label>All</ion-label>
        </ion-segment-button>

        <ion-segment-button value="done">
            <ion-label>done</ion-label>
        </ion-segment-button>
    </ion-segment>
    <app-task *ngFor="let task of getTasksList(segment.value);" [task]="task"></app-task>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addNewTask()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
</ion-content>