<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-item>
            <ion-label class="title">
                today
                <p class="date">{{ today|date:'fullDate' }}</p>
            </ion-label>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-task *ngFor="let task of taskList;" [task]="task"></app-task>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addNewTask()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>